aiogram==3.15.0
pydantic<2.10,>=2.4.1
pydantic-settings==2.7.0
duckduckgo-search
openai
pytest-asyncio
fastapi
uvicorn
httpx
chromadb
numpy<2.0
transformers
torch
soundfile
pydub
anyascii
sentencepiece
datasets<3.0.0
croniter
websockets==12.0
PyYAML
